{% extends 'layout.html' %}



{% block title %} Contact Us {% endblock %}


{% block links1 %} 
<li class="nav-item ">
  <a class="nav-link " href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
  </li>

  <li class="nav-item">
  <a class="nav-link " href="{% url 'home:products' %}">Products</a>
  </li>
  {% comment %} <li class="nav-item">
  <a class="nav-link" href="/shop/customize">customize</a>
  </li>
{% endcomment %}
  <li class="nav-item">
  <a class="nav-link active" href="{% url 'home:contactUs' %}">Contact Us</a>
  </li>
  
{% endblock %}

{% block links %} 
<li class="nav-item ">
  <a class="nav-link " href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
  </li>

  <li class="nav-item">
  <a class="nav-link " href="{% url 'home:products' %}">Products</a>
  </li>
  {% comment %} <li class="nav-item">
  <a class="nav-link" href="/shop/customize">customize</a>
  </li>
{% endcomment %}
  <li class="nav-item">
  <a class="nav-link active" href="{% url 'home:contactUs' %}">Contact Us</a>
  </li>
  
{% endblock %}



{% block main %} 

<div class="container-main">
  <h2 class="title-sell">Contact Us</h2>


 <div class="row no-gutters mb-5">

    <div class="col-md-6">
       <div class="contact-wrap w-100 p-md-5 p-4">
         <div class="alert alert-danger hidden" id="alert_errors">
         </div>
          <div id="form-message-warning" class="mb-4"></div> 
          <form  id="contactForm" name="contactForm" class="contactForm">
             <div class="row">
                <div class="col-md-6">
                   <div class="form-group">
                      <label class="label" for="name">Fullname</label>
                      <input type="text" class="form-control" name="name" id="name" placeholder="Fullname">
                   </div>
                </div>
                <div class="col-md-6">  
                   <div class="form-group"> 
                      <label class="label" for="email">Email</label>
                      <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                      <span class="text-danger" id="emailalert"></span>
                   </div>
                </div>
                <div class="col-md-12">
                   <div class="form-group">
                      <label class="label" for="subject">Subject</label>
                      <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                   </div>
                </div>
                <div class="col-md-12">
                   <div class="form-group">
                      <label class="label " for="#">Message</label>
                      <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
                   </div>
                </div>
                <div class="col-md-12">
                   <div class="form-group text-center">

                     <button type="button"  class="btn btn-login w-25" id="btnSend">
                        Send
                    </button>

                   </div>
                </div>
             </div>
          </form>
       </div>
    </div>
    <div class="col-md-6" style="height:45vh">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d848029.5583045399!2d34.89068480076072!3d33.873799753099895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151ef12c998b5d19%3A0xc65ebd7d359417ad!2sPets%20N%20Claws!5e0!3m2!1sen!2slb!4v1694715402386!5m2!1sen!2slb" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
 </div>
</div>
</div>


<script src="/assets/js/contact_us.js"></script>

{% endblock %}