{% extends 'layout.html' %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% block title %} Home {% endblock %}



{% block links %} 
<li class="nav-item ">
  <a class="nav-link active" href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
  </li>

  <li class="nav-item ">
  <a class="nav-link" href="{% url 'home:products' %}">Products</a>
  </li>
  {% comment %} <li class="nav-item">
  <a class="nav-link" href="/shop/customize">customize</a>
  </li>
{% endcomment %}
  <li class="nav-item">
  <a class="nav-link"  href="{% url 'home:contactUs' %}">Contact Us</a>
  </li>
  
{% endblock %}


{% block links1 %} 
<li class="nav-item ">
  <a class="nav-link active" href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
  </li>

  <li class="nav-item">
  <a class="nav-link" href="{% url 'home:products' %}">Products</a>
  </li>
  {% comment %} <li class="nav-item">
  <a class="nav-link" href="/shop/customize">customize</a>
  </li>
{% endcomment %}
  <li class="nav-item">
  <a class="nav-link"  href="{% url 'home:contactUs' %}">Contact Us</a>
  </li>
  
{% endblock %}


{% block main %} 


<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/carousel/IMG_3947.jpg" alt="Los Angeles" width="1100" height="500">
        <div class="text-overlay ">
          <h1 class="d-md-block d-none text-light"><span class="style1">Pets</span><span class="style2">N</span><span class="style3">Claws</span>,Your Pet's Paradise!!</h1>
          <h1 class="d-md-none d-block text-light"><span class="style1">Pets</span><span class="style2">N</span><span class="style3">Claws</span>,Your Pet's Paradise!!</h1>
          <a class="btn  btn-lg btn-login my-md-4" href="/products/">SHOP NOW</a>
        </div>
      </div>
    
      <div class="carousel-item">
        <img src="assets/carousel/IMG_3948.jpg" alt="Chicago" width="1100" height="500">
        <div class="text-overlay ">
          <h1 class="d-md-block d-none text-light">Fulfill all your pet's needs!!</h1>
          <h1 class="d-md-none d-block text-light">Fulfill all your <br>pet's needs!!</h1>
          <a class="btn btn-lg btn-login my-md-4" href="/products/">SHOP NOW</a>
        </div>
      </div>
    
      <div class="carousel-item">
        <img src="assets/carousel/groming.jpg" alt="New York" width="1100" height="500">
        <div class="text-overlay">
          <h1 class="d-md-block d-none text-light">Every Pet Deserves a Spa Day!!</h1>
          <h1 class="d-md-none d-block text-light">Every Pet Deserves <br>a Spa Day!!</h1>
          <a class="btn btn-lg btn-login my-md-4" href="/contact-us/">CONTACT US</a>
        </div>
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <!-- Start Contact info -->
<div class="services p-2  ">
  <div class="services-container">
    <div class="row">
      <div class="col-md-3 form-group mt-md-4 ">
        <i class="fa fa-truck  "></i>
        <div class="overflow-hidden" >
          <h5> Shipping Fee </h5>
          <p class="text-services ">
            {{currency}}{{delivery}} flat rate on all orders everywhere in Lebanon.
          </p>
        </div>
      </div>
      <div class="col-md-3 form-group mt-md-4  " >
        <i class="fas fa-money-check"></i>
        <div class="overflow-hidden">
          <h5> Easy Payment </h5>
          <p class="text-services">
            Payment is cash on delivery only LBP or USD.

          </p>
        </div>
      </div>
      <div class="col-md-3 form-group mt-md-4  ">
        <i class="fas fa-shipping-fast  "></i>
        <div class="overflow-hidden">
          <h5> Fast Delivery </h5>
          <p class="text-services">
            Same day delivery in Saida and up to 2 days all over Lebanon.
          </p>
        </div>
      </div>
      <div class="col-md-3 form-group  mt-md-4 ">
        <i class="fa fa-comments  "></i>
        <div class="overflow-hidden">
          <h5> Contact our Experts </h5>
          <p class="text-services">
            +961 03 743 061
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Contact info -->

  

  <div class="container-main">




    <h2 class="title-sell">About Us</h2>
      <!-- Start About -->
      <div class="about-section-box">
          <div class="container-fluid">
              <div class="row justify-content-center">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                      <img src="/assets/logo.png" alt="" class="img-fluid rounded form-group">
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="inner-column">
                          {% comment %} <h1 class="text-center ">
                            
                            <span class="style1">Pets</span><span class="style2">N</span><span class="style3">Claws</span>
                           
                            
                            </h1> {% endcomment %}
                          <p class="text-center mt-md-4 " >
                            Welcome to our premier online pet store, where your furry friends’ happiness is our top priority.
                            At our virtual haven for pets and pet owners, we offer a wide selection of high-quality products to cater to all your pet’s needs. 
                            Whether you have a playful pup, a finicky feline, or a feathered friend, 
                            you’ll find everything from nutritious pet food and stylish accessories to cozy beds and interactive toys.

                          </p>
              <div class="text-center">
                <a class="btn btn-outline" href="{% url 'home:products' %}">Our Products</a>
              </div>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- End About -->
 



    {% comment %} <div class="container mt-5 mb-5">
        <div class="row g-2">
            {% for product in products %}
            <div class="form-group col-md-3 d-flex justify-content-center">
                <div class="card p-2">
                    <div class="text-center"> 
                        {% if product.image %}
                            <img src="{{ product.image.url }}"  class="img-fluid rounded" >
                        {% else %}
                            <img src="/assets/empty.png"  class="img-fluid rounded" >
                        {% endif %}
                    </div>
                    <div class="content">
                        <div class="d-flex justify-content-between align-items-center"> 
                            <span class="category">
                                {{ product.name }}
                            </span> 
                            <span class="price">
                                {{ product.price }} $
                            </span> 
                        </div>
                        <p>{{ product.description }}</p>
                        <div class="buttons d-flex justify-content-center">
                        <button class="btn btn-outline" id="" onclick="">Add To cart</button> </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
          <a class="btn btn-outline" href="{% url 'home:products' %}">View All</a>
        </div>{% endcomment %}

  <h2 class="title-sell">Suggested Products</h2>
<div class="owl-carousel owl-theme">
  {% for product in products %}
  <div class="item">
    <figure class="snip1396 green hover prod-img">
      {% if product.image.url  %}
      <img src="{{ product.image.url }}"  style="width:100%">
  {% else %}
      <img src="/assets/empty.png" >
  {% endif %}   
      <figcaption>
        {% comment %} <p> </p> {% endcomment %}
        <h3 class="{{product.color}}">  {{ product.name }}</h3>
      </figcaption>
      <div class="price {{product.color}}">
        {% comment %} <s>$24.00</s> {% endcomment %}
        {{ product.price }}{{currency}}
      </div>
      {% csrf_token %}
      {% if product.stock > 0 %}
      <button  class="add-to-cart btn btn-sm btn-login" id="btn_{{product.id}}"  data-product-id="{{ product.id }}" >
        Add to Cart
      </button>
      
      {% else %}
        <button  class="add-to-cart btn btn-sm  btn-disabled" id="btn_{{product.id}}"  data-product-id="{{ product.id }}" disabled >
          Out of Stock
        </button>
      {% endif %}
    </figure>
  </div>
  {% endfor %}

</div>
<div class="text-center mt-md-5 mt-2">
  <a class="btn btn-outline" href="{% url 'home:products' %}">View All</a>
</div>

<br>


<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">




{% if brands|length > 0 %}
<h2 class="title-sell"> Our Brands </h2>
<div class="row row1 rowtable">

  {% for brand in brands %}
    <div class="col-md-3 column effect11 ">
      <img src="{{ brand.image.url }}" class="  img1  ">

    </div>

    {% endfor %}
</div>
{% endif %}



{% if gallery|length > 0 %}
 <h2 class="title-sell">Our Work</h2>
  <div class="row row1 rowtable">

    {% for img in gallery %}

  
     <a href="{{ img.image.url }}" data-toggle="lightbox" data-gallery="gallery" class="column effect11">
        <img src="{{ img.image.url }}" class="rounded img1">
      </a>
      {% endfor %}
  </div>
  {% endif %}






</div>

<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">



<!-- Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


<script>
  $(document).ready(function(){
      $(".owl-carousel").owlCarousel({
          loop: true, // Enable looping
          margin: 10, // Space between items
          responsiveClass: true,
          responsive:{
              0:{
                  items: 1, // Number of items to display at 0-576px screen width
              },
              576:{
                  items: 2, // Number of items to display at 576px-768px screen width
              },
              768:{
                  items: 2, // Number of items to display at 768px-992px screen width
              },
              992:{
                  items: 3, // Number of items to display at 992px and above screen width
              }
          }
      });
  });
</script>

  {% endblock %}


