<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js">  <![endif]-->
<html>
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>
          PetsNClaws | 
          {% block title %}
          {% endblock %}
        
        </title>


        <meta name="viewport" content="width=device-width, initial-scale=1">


        <meta name=”description” content="Discover the ultimate pet store for all your furry friends! PetsNclaws offers a wide range of pet products and expert grooming services. Spoil your pets with top-quality care and supplies." />
        <meta name="theme-color" content="#83B641">

        <meta property="og:title" content="PetsNclaws - Your Pet's Paradise">

        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">



        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">



        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">


        <link rel="stylesheet" href="/assets/css/cart.css">
        <link rel="stylesheet" href="/assets/css/cake.css">
        <link rel="stylesheet" href="/assets/css/menu.css">
        
        <link rel="stylesheet"  href="/assets/css/ourwork.css">

        <link rel="stylesheet" href="/assets/css/shop-home.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        

        <div class="notify text-center" id="notify">
            <div class="popup">
              <span class="popuptext alert alert-success p-2" id="myPopup">
                <i class="fas fa-check-circle"></i>  Product added to cart
              </span>
            </div>
        </div>
        

        <a id="whatsapp" class="d-none d-md-block" href="https://wa.me/+96181602936" target="_blank"></a>

        <a id="button"></a>
        
  
        <div id="myDiv" ><!-- style="display:none;"-->

            <div class="overlay"></div>
              <div class="utility-nav d-block d-md-block " >
          
                      <p class="text-center text-top">Payment in USD and LBP,Rate is determined upon delivery</p>
              
              </div>

           

        <nav class="navbar navbar-expand-lg navbar-light bg-light main-menu" style="box-shadow:none">

            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-link d-block d-lg-none">
                <i class="fas fa-bars text-dark icon-single"></i>
                </button>
                <a class="navbar-brand" href="{% url 'home:home' %}" >
                  <div class="row align-items-center">
                    <div class="col-md-4 col-4">
                          <!-- Logo -->
                        <img src="/assets/logo-no_bg.png" alt="Logo" class="rounded-logo">
                    </div>
                    <div class="col-md-3 col-3 ">
                      <!-- Company Name -->
                      <h1 >
                          <span class="style1">Pets</span><span class="style2">N</span><span class="style3">Claws</span>
                      </h1> 
                    </div>
                  </div>
                </a>
                <ul class="navbar-nav ml-auto d-block d-lg-none">
                  <li class="nav-item" >
                      <a class="btn btn-link" href="/cart"><i class="fas fa-shopping-cart icon-single"></i>
                        <span class="badge badge-danger item-nb cart_qty">
                          {{total_qty}}
                        </span>
                      </a>
                  </li>
                </ul>
                <div class="collapse navbar-collapse">
                  <form class="form-inline  my-lg-0 mx-auto" action="/search_products/" method="POST">
                    {% csrf_token %}
                      <input class="form-control text-search" value="{{query}}" type="text" name="query" placeholder="Search Products ..." aria-label="Search">
                      <button class="btn search-btn "  type="submit"><i class="fas fa-search"></i></button>
                  </form>
                  <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="btn btn-link" href="/cart">
                          <i class="fas fa-shopping-cart icon-single"></i>
                          <span class="badge badge-danger item-nb cart_qty">
                           {{total_qty}}
                          </span>
                        </a>
                      </li>
                      <li class="nav-item ml-md-3">
                        {% if not user.is_authenticated %}
                        <a class="btn btn-login"  href="{% url 'users:login' %}"><i class="fas fa-user-circle mr-1"></i>login</a>
                        {% else %}
                        <a class="btn btn-login"  href="{% url 'users:logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i></i>logout</a>
                        {% endif %}
                      </li>
                  </ul>
                </div>
            </div>



          </nav>

          <nav class="navbar navbar-expand-lg navbar-light bg-light sub-menu">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbar">
                  <ul class="nav navbar-nav navbar-nav mx-auto ">
                   
                    {% block links %}
                    {% endblock %}

                  </ul>
                </div>
            </div>
          </nav>
      
          <div class="search-bar d-block d-lg-none">
            <div class="container">
                <div class="row">
                  <div class="col-12">
                    <form class="form-inline my-2 my-lg-0 mx-auto" action="/search_products/" method="POST">
                      {% csrf_token %}
                        <input class="form-control" type="text" value="{{query}}" name="query" placeholder="search products ..." aria-label="Search">
                        <button class="btn search-btn" type="submit"><i class="fas fa-search"></i></button>
                      </form>
                  </div>
                </div>
            </div>
          </div>
          <!-- Sidebar -->
          <nav id="sidebar">
            <div class="sidebar-header">
                <div class="container">
                  <div class="row align-items-center">
                      <div class="col-10 pl-0">
                        <a class="btn btn-login" href="{% url 'users:login' %}"><i class="fas fa-user-circle mr-1"></i>Log In / Register</a>
                      </div>
                      <div class="col-2 text-left">
                        <button type="button" id="sidebarCollapseX" class="btn btn-link">
                          <i class="fas fa-times icon-single text-dark"></i>
                        </button>
                      </div>
                  </div>
                </div>
            </div>
            <ul class="list-unstyled components links">
                           {% block links1 %}
                    {% endblock %}
            </ul>
          </nav>


</div><!-- end myDiv -->



{% block main %}
{% endblock %}
<br>


<div class="text-center  p-2 bg-green" >
          
  <h5 class=" text-light">
    Need products in massive quantities?<a href="/contact-us/" class="text-black reach-us "> Contact us</a> today for unbeatable deals!
  </h5>

</div>
<!-- Start Contact info -->
<div class="contact-imfo-box ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-1 form-group  "></div>
        <div class="col-md-3 form-group  ">
          <i class="fa fa-phone  "></i>
          <div class="overflow-hidden" >
            <h4 >Phone</h4>
            <p class="lead ">
              +961 03 743 061
            </p>
          </div>
        </div>
        <div class="col-md-3 form-group  " >
          <i class="fa fa-instagram  "></i>
          <div class="overflow-hidden">
            <h4>Instagram</h4>
            <p class="lead">
              pets_n_claws.lb
  
            </p>
          </div>
        </div>
        <div class="col-md-3 form-group  ">
          <i class="fa fa-map-marker  "></i>
          <div class="overflow-hidden">
            <h4>Location</h4>
            <p class="lead">
              Saida-Hlalieh
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Contact info -->
  
  
  
    <!-- Start Footer -->
      <footer class="footer-area bg-f">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-5 col-md-6">
                      <h3 >About Us</h3>
                      <p>
                        Welcome to our premier online pet store, where your furry friends’ happiness is our top priority.
                        At our virtual haven for pets and pet owners, we offer a wide selection of high-quality products to cater to all your pet’s needs. 
                        Whether you have a playful pup, a finicky feline, or a feathered friend, 
                        you’ll find everything from nutritious pet food and stylish accessories to cozy beds and interactive toys.
                      </p>
            </p>
                  </div>
                  {% comment %} <div class="col-lg-3 col-md-6">
                      <h3 class=" ">openings</h3>
                      <p><span class="text-color">Monday: </span>2:00 Am - 8:00 PM</p>
                      <p><span class="text-color">Tue-Wed :</span> 2:00 Am - 8:00 PM</p>
                      <p><span class="text-color">Thu :</span> 2:00 Am - 8:00 PM</p>
                      <p><span class="text-color">Fri </span>closed</p>
                      <p><span class="text-color">Sat-Sun :</span> 2:00 Am - 8:00 PM</p>
                  </div> {% endcomment %}
                  <div class="col-lg-3 col-md-6  ">
                      <h3 >contact us</h3>
                      <p class="lead">  <i class="fa fa-map-marker green-icon  "></i> Saida-Hlalieh </p>
                      <p class="lead"><i class="fa fa-phone  green-icon"></i> +961 03 743 061</p>
                      <p class="lead"> <i class="fas fa-envelope green-icon"></i>  petsnclaws2023@gmail.com</p>
                  </div>
                  <div class="col-lg-3 col-md-6">
                      <h3 class=" ">follow</h3>
  
                      <ul class="list-inline f-social  ">
                          <li class="list-inline-item"><a href="https://www.facebook.com/people/Pets-N-Claws/100083273847710/" target="_blank"><i class="fa fa-facebook green-icon" aria-hidden="true"></i></a></li>
                          <li class="list-inline-item"><a href="https://wa.me/+96103743061" target="_blank"><i class="fa fa-whatsapp green-icon" aria-hidden="true"></i></a></li>
                          <li class="list-inline-item"><a href="https://www.instagram.com/pets_n_claws.lb" target="_blank"><i class="fa fa-instagram green-icon" aria-hidden="true"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>


          <div class="copyright">
              <div class="container">
                  <div class="row justify-content-center">
  
                      <div class="col-lg-12">
                          <p class="company-name text-center"> All Rights Reserved &copy; 2023 
                             By<a href="https://mostafanawam.github.io/" target="_blank" class="signiture"> Mostafa Nawam</a></p>
                      </div>
                  </div>
              </div>
          </div>
  
      </footer>





      <script src="/assets/js/ourwork.js"></script>

      <script src="/assets/js/shop-home.js"></script> 
      <script src="/assets/js/add_to_cart.js"></script>
