* {
    margin: 0;
    padding: 0;
}

.loader_body {
    background: #f3d354;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.5);
}

#table {
    transform-style: preserve-3d;
    -webkit-animation: cameraVertical 12000ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite alternate;
    animation: cameraVertical 12000ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite alternate;
}

#table .camera {
    transform-style: preserve-3d;
    -webkit-animation: cameraHorizontal 20000ms linear infinite;
    animation: cameraHorizontal 20000ms linear infinite;
}

#table .copy {
    position: absolute;
    white-space: nowrap;
    transform-origin: 50% 100%;
    transform: translateX(-50%) translateY(-250px) rotateX(-50deg);
}

#table .dishes {
    transform-style: preserve-3d;
    transform: translate(-100px, -100px);
}

#table .dishes .dish {
    transform-style: preserve-3d;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 100%;
    box-sizing: border-box;
    transform: translateX(1500px) translateY(400px);
}

#table .dishes .dish::before {
    display: block;
    content: "";
    width: 150px;
    height: 150px;
    background: #eee;
    border-radius: 100%;
}

#table .dishes .dish::after {
    position: absolute;
    display: block;
    content: "";
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    transform: translateZ(-10px);
}

#table .dishes .dish:nth-child(1) {
    -webkit-animation: dishSlide 10000ms -3000ms linear infinite;
    animation: dishSlide 10000ms -3000ms linear infinite;
}

#table .dishes .dish:nth-child(2) {
    -webkit-animation: dishSlide 10000ms -2000ms linear infinite;
    animation: dishSlide 10000ms -2000ms linear infinite;
}

#table .dishes .dish:nth-child(3) {
    -webkit-animation: dishSlide 10000ms -1000ms linear infinite;
    animation: dishSlide 10000ms -1000ms linear infinite;
}

#table .dishes .dish:nth-child(4) {
    -webkit-animation: dishSlide 10000ms 0ms linear infinite;
    animation: dishSlide 10000ms 0ms linear infinite;
}

#table .dishes .dish:nth-child(5) {
    -webkit-animation: dishSlide 10000ms 1000ms linear infinite;
    animation: dishSlide 10000ms 1000ms linear infinite;
}

#table .dishes .dish:nth-child(6) {
    -webkit-animation: dishSlide 10000ms 2000ms linear infinite;
    animation: dishSlide 10000ms 2000ms linear infinite;
}

#table .dishes .dish:nth-child(7) {
    -webkit-animation: dishSlide 10000ms 3000ms linear infinite;
    animation: dishSlide 10000ms 3000ms linear infinite;
}

#table .dishes .dish:nth-child(8) {
    -webkit-animation: dishSlide 10000ms 4000ms linear infinite;
    animation: dishSlide 10000ms 4000ms linear infinite;
}

#table .dishes .dish:nth-child(9) {
    -webkit-animation: dishSlide 10000ms 5000ms linear infinite;
    animation: dishSlide 10000ms 5000ms linear infinite;
}

#table .dishes .dish:nth-child(10) {
    -webkit-animation: dishSlide 10000ms 6000ms linear infinite;
    animation: dishSlide 10000ms 6000ms linear infinite;
}

#table .cakes {
    transform-style: preserve-3d;
    transform: translate(-25px, -25px);
}

#table .cakes .cake {
    transform-style: preserve-3d;
    transform: translateX(0px) translateZ(1000px);
}

#table .cakes .cake .cake_tower {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateZ(45deg);
    width: 50px;
    height: 50px;
}

#table .cakes .cake .fork {
    position: absolute;
    top: -25px;
    left: 23px;
    width: 4px;
    height: 50px;
    background: #fff;
    border-radius: 10px 10px 100% 100%;
    transform-origin: 50% 100%;
    transform: rotateX(-90deg) translateX(-2px) translateY(-1000px);
}

#table .cakes .cake .fork::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -6px;
    width: 16px;
    height: 20px;
    border-top: 6px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    box-sizing: border-box;
    border-radius: 50% 50% 30% 30%;
}

#table .cakes .cake:nth-child(1) {
    -webkit-animation: cakeSlide 10000ms -3000ms linear infinite;
    animation: cakeSlide 10000ms -3000ms linear infinite;
}

#table .cakes .cake:nth-child(1) .fork {
    -webkit-animation: sting1 10000ms -3000ms linear infinite;
    animation: sting1 10000ms -3000ms linear infinite;
}

@-webkit-keyframes sting1 {
    0% {
        transform: rotateX(-108deg) rotateY(240deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-108deg) rotateY(240deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-108deg) rotateY(240deg) translateY(5px);
    }
    100% {
        transform: rotateX(-108deg) rotateY(240deg) translateY(5px);
    }
}

@keyframes sting1 {
    0% {
        transform: rotateX(-108deg) rotateY(240deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-108deg) rotateY(240deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-108deg) rotateY(240deg) translateY(5px);
    }
    100% {
        transform: rotateX(-108deg) rotateY(240deg) translateY(5px);
    }
}

#table .cakes .cake:nth-child(1) .cake_1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #d4cdfa;
    transform-style: preserve-3d;
    transform: translateZ(23px);
}

#table .cakes .cake:nth-child(1) .cake_1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #b6afdc;
    transform: translateZ(-23px);
}

#table .cakes .cake:nth-child(1) .cake_1 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 23px;
    background: #cac3f0;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(1) .cake_1 .wall_2 {
    content: "";
    position: absolute;
    width: 23px;
    height: 100%;
    background: #c0b9e6;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(1) .cake_1 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 23px;
    background: #cac3f0;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(1) .cake_1 .wall_4 {
    content: "";
    position: absolute;
    width: 23px;
    height: 100%;
    background: #c0b9e6;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(1) .cake_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #b4d9b4;
    transform-style: preserve-3d;
    transform: translateZ(30px);
}

#table .cakes .cake:nth-child(1) .cake_2::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #96bb96;
    transform: translateZ(-30px);
}

#table .cakes .cake:nth-child(1) .cake_2 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    background: #aacfaa;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(1) .cake_2 .wall_2 {
    content: "";
    position: absolute;
    width: 30px;
    height: 100%;
    background: #a0c5a0;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(1) .cake_2 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    background: #aacfaa;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(1) .cake_2 .wall_4 {
    content: "";
    position: absolute;
    width: 30px;
    height: 100%;
    background: #a0c5a0;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(1) .cake_3 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #d7b2c2;
    transform-style: preserve-3d;
    transform: translateZ(14px);
}

#table .cakes .cake:nth-child(1) .cake_3::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #b994a4;
    transform: translateZ(-14px);
}

#table .cakes .cake:nth-child(1) .cake_3 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 14px;
    background: #cda8b8;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(1) .cake_3 .wall_2 {
    content: "";
    position: absolute;
    width: 14px;
    height: 100%;
    background: #c39eae;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(1) .cake_3 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 14px;
    background: #cda8b8;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(1) .cake_3 .wall_4 {
    content: "";
    position: absolute;
    width: 14px;
    height: 100%;
    background: #c39eae;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake {
    transform-style: preserve-3d;
    transform: translateX(0px) translateZ(1000px);
}

#table .cakes .cake .cake_tower {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateZ(45deg);
    width: 50px;
    height: 50px;
}

#table .cakes .cake .fork {
    position: absolute;
    top: -25px;
    left: 23px;
    width: 4px;
    height: 50px;
    background: #fff;
    border-radius: 10px 10px 100% 100%;
    transform-origin: 50% 100%;
    transform: rotateX(-90deg) translateX(-2px) translateY(-1000px);
}

#table .cakes .cake .fork::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -6px;
    width: 16px;
    height: 20px;
    border-top: 6px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    box-sizing: border-box;
    border-radius: 50% 50% 30% 30%;
}

#table .cakes .cake:nth-child(2) {
    -webkit-animation: cakeSlide 10000ms -2000ms linear infinite;
    animation: cakeSlide 10000ms -2000ms linear infinite;
}

#table .cakes .cake:nth-child(2) .fork {
    -webkit-animation: sting2 10000ms -2000ms linear infinite;
    animation: sting2 10000ms -2000ms linear infinite;
}

@-webkit-keyframes sting2 {
    0% {
        transform: rotateX(-73deg) rotateY(22deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-73deg) rotateY(22deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-73deg) rotateY(22deg) translateY(5px);
    }
    100% {
        transform: rotateX(-73deg) rotateY(22deg) translateY(5px);
    }
}

@keyframes sting2 {
    0% {
        transform: rotateX(-73deg) rotateY(22deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-73deg) rotateY(22deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-73deg) rotateY(22deg) translateY(5px);
    }
    100% {
        transform: rotateX(-73deg) rotateY(22deg) translateY(5px);
    }
}

#table .cakes .cake:nth-child(2) .cake_1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #7d73d2;
    transform-style: preserve-3d;
    transform: translateZ(23px);
}

#table .cakes .cake:nth-child(2) .cake_1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #5f55b4;
    transform: translateZ(-23px);
}

#table .cakes .cake:nth-child(2) .cake_1 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 23px;
    background: #7369c8;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(2) .cake_1 .wall_2 {
    content: "";
    position: absolute;
    width: 23px;
    height: 100%;
    background: #695fbe;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(2) .cake_1 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 23px;
    background: #7369c8;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(2) .cake_1 .wall_4 {
    content: "";
    position: absolute;
    width: 23px;
    height: 100%;
    background: #695fbe;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(2) .cake_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #92c5d8;
    transform-style: preserve-3d;
    transform: translateZ(8px);
}

#table .cakes .cake:nth-child(2) .cake_2::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #74a7ba;
    transform: translateZ(-8px);
}

#table .cakes .cake:nth-child(2) .cake_2 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background: #88bbce;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(2) .cake_2 .wall_2 {
    content: "";
    position: absolute;
    width: 8px;
    height: 100%;
    background: #7eb1c4;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(2) .cake_2 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background: #88bbce;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(2) .cake_2 .wall_4 {
    content: "";
    position: absolute;
    width: 8px;
    height: 100%;
    background: #7eb1c4;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(2) .cake_3 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #b2e0dd;
    transform-style: preserve-3d;
    transform: translateZ(20px);
}

#table .cakes .cake:nth-child(2) .cake_3::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #94c2bf;
    transform: translateZ(-20px);
}

#table .cakes .cake:nth-child(2) .cake_3 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background: #a8d6d3;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(2) .cake_3 .wall_2 {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    background: #9eccc9;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(2) .cake_3 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background: #a8d6d3;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(2) .cake_3 .wall_4 {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    background: #9eccc9;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake {
    transform-style: preserve-3d;
    transform: translateX(0px) translateZ(1000px);
}

#table .cakes .cake .cake_tower {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateZ(45deg);
    width: 50px;
    height: 50px;
}

#table .cakes .cake .fork {
    position: absolute;
    top: -25px;
    left: 23px;
    width: 4px;
    height: 50px;
    background: #fff;
    border-radius: 10px 10px 100% 100%;
    transform-origin: 50% 100%;
    transform: rotateX(-90deg) translateX(-2px) translateY(-1000px);
}

#table .cakes .cake .fork::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -6px;
    width: 16px;
    height: 20px;
    border-top: 6px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    box-sizing: border-box;
    border-radius: 50% 50% 30% 30%;
}

#table .cakes .cake:nth-child(3) {
    -webkit-animation: cakeSlide 10000ms -1000ms linear infinite;
    animation: cakeSlide 10000ms -1000ms linear infinite;
}

#table .cakes .cake:nth-child(3) .fork {
    -webkit-animation: sting3 10000ms -1000ms linear infinite;
    animation: sting3 10000ms -1000ms linear infinite;
}

@-webkit-keyframes sting3 {
    0% {
        transform: rotateX(-120deg) rotateY(173deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-120deg) rotateY(173deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-120deg) rotateY(173deg) translateY(5px);
    }
    100% {
        transform: rotateX(-120deg) rotateY(173deg) translateY(5px);
    }
}

@keyframes sting3 {
    0% {
        transform: rotateX(-120deg) rotateY(173deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-120deg) rotateY(173deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-120deg) rotateY(173deg) translateY(5px);
    }
    100% {
        transform: rotateX(-120deg) rotateY(173deg) translateY(5px);
    }
}

#table .cakes .cake:nth-child(3) .cake_1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #85f4e0;
    transform-style: preserve-3d;
    transform: translateZ(5px);
}

#table .cakes .cake:nth-child(3) .cake_1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #67d6c2;
    transform: translateZ(-5px);
}

#table .cakes .cake:nth-child(3) .cake_1 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: #7bead6;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(3) .cake_1 .wall_2 {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: #71e0cc;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(3) .cake_1 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: #7bead6;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(3) .cake_1 .wall_4 {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: #71e0cc;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(3) .cake_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #d6e5be;
    transform-style: preserve-3d;
    transform: translateZ(26px);
}

#table .cakes .cake:nth-child(3) .cake_2::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #b8c7a0;
    transform: translateZ(-26px);
}

#table .cakes .cake:nth-child(3) .cake_2 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 26px;
    background: #ccdbb4;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(3) .cake_2 .wall_2 {
    content: "";
    position: absolute;
    width: 26px;
    height: 100%;
    background: #c2d1aa;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(3) .cake_2 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 26px;
    background: #ccdbb4;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(3) .cake_2 .wall_4 {
    content: "";
    position: absolute;
    width: 26px;
    height: 100%;
    background: #c2d1aa;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(3) .cake_3 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #f9ec6b;
    transform-style: preserve-3d;
    transform: translateZ(22px);
}

#table .cakes .cake:nth-child(3) .cake_3::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #dbce4d;
    transform: translateZ(-22px);
}

#table .cakes .cake:nth-child(3) .cake_3 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 22px;
    background: #efe261;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(3) .cake_3 .wall_2 {
    content: "";
    position: absolute;
    width: 22px;
    height: 100%;
    background: #e5d857;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(3) .cake_3 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 22px;
    background: #efe261;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(3) .cake_3 .wall_4 {
    content: "";
    position: absolute;
    width: 22px;
    height: 100%;
    background: #e5d857;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake {
    transform-style: preserve-3d;
    transform: translateX(0px) translateZ(1000px);
}

#table .cakes .cake .cake_tower {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateZ(45deg);
    width: 50px;
    height: 50px;
}

#table .cakes .cake .fork {
    position: absolute;
    top: -25px;
    left: 23px;
    width: 4px;
    height: 50px;
    background: #fff;
    border-radius: 10px 10px 100% 100%;
    transform-origin: 50% 100%;
    transform: rotateX(-90deg) translateX(-2px) translateY(-1000px);
}

#table .cakes .cake .fork::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -6px;
    width: 16px;
    height: 20px;
    border-top: 6px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    box-sizing: border-box;
    border-radius: 50% 50% 30% 30%;
}

#table .cakes .cake:nth-child(4) {
    -webkit-animation: cakeSlide 10000ms 0ms linear infinite;
    animation: cakeSlide 10000ms 0ms linear infinite;
}

#table .cakes .cake:nth-child(4) .fork {
    -webkit-animation: sting4 10000ms 0ms linear infinite;
    animation: sting4 10000ms 0ms linear infinite;
}

@-webkit-keyframes sting4 {
    0% {
        transform: rotateX(-94deg) rotateY(116deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-94deg) rotateY(116deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-94deg) rotateY(116deg) translateY(5px);
    }
    100% {
        transform: rotateX(-94deg) rotateY(116deg) translateY(5px);
    }
}

@keyframes sting4 {
    0% {
        transform: rotateX(-94deg) rotateY(116deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-94deg) rotateY(116deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-94deg) rotateY(116deg) translateY(5px);
    }
    100% {
        transform: rotateX(-94deg) rotateY(116deg) translateY(5px);
    }
}

#table .cakes .cake:nth-child(4) .cake_1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #87e180;
    transform-style: preserve-3d;
    transform: translateZ(13px);
}

#table .cakes .cake:nth-child(4) .cake_1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #69c362;
    transform: translateZ(-13px);
}

#table .cakes .cake:nth-child(4) .cake_1 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 13px;
    background: #7dd776;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(4) .cake_1 .wall_2 {
    content: "";
    position: absolute;
    width: 13px;
    height: 100%;
    background: #73cd6c;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(4) .cake_1 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 13px;
    background: #7dd776;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(4) .cake_1 .wall_4 {
    content: "";
    position: absolute;
    width: 13px;
    height: 100%;
    background: #73cd6c;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(4) .cake_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #a1c6a7;
    transform-style: preserve-3d;
    transform: translateZ(32px);
}

#table .cakes .cake:nth-child(4) .cake_2::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #83a889;
    transform: translateZ(-32px);
}

#table .cakes .cake:nth-child(4) .cake_2 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 32px;
    background: #97bc9d;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(4) .cake_2 .wall_2 {
    content: "";
    position: absolute;
    width: 32px;
    height: 100%;
    background: #8db293;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(4) .cake_2 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 32px;
    background: #97bc9d;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(4) .cake_2 .wall_4 {
    content: "";
    position: absolute;
    width: 32px;
    height: 100%;
    background: #8db293;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(4) .cake_3 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #c868e0;
    transform-style: preserve-3d;
    transform: translateZ(24px);
}

#table .cakes .cake:nth-child(4) .cake_3::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #aa4ac2;
    transform: translateZ(-24px);
}

#table .cakes .cake:nth-child(4) .cake_3 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 24px;
    background: #be5ed6;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(4) .cake_3 .wall_2 {
    content: "";
    position: absolute;
    width: 24px;
    height: 100%;
    background: #b454cc;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(4) .cake_3 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 24px;
    background: #be5ed6;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(4) .cake_3 .wall_4 {
    content: "";
    position: absolute;
    width: 24px;
    height: 100%;
    background: #b454cc;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake {
    transform-style: preserve-3d;
    transform: translateX(0px) translateZ(1000px);
}

#table .cakes .cake .cake_tower {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateZ(45deg);
    width: 50px;
    height: 50px;
}

#table .cakes .cake .fork {
    position: absolute;
    top: -25px;
    left: 23px;
    width: 4px;
    height: 50px;
    background: #fff;
    border-radius: 10px 10px 100% 100%;
    transform-origin: 50% 100%;
    transform: rotateX(-90deg) translateX(-2px) translateY(-1000px);
}

#table .cakes .cake .fork::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -6px;
    width: 16px;
    height: 20px;
    border-top: 6px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    box-sizing: border-box;
    border-radius: 50% 50% 30% 30%;
}

#table .cakes .cake:nth-child(5) {
    -webkit-animation: cakeSlide 10000ms 1000ms linear infinite;
    animation: cakeSlide 10000ms 1000ms linear infinite;
}

#table .cakes .cake:nth-child(5) .fork {
    -webkit-animation: sting5 10000ms 1000ms linear infinite;
    animation: sting5 10000ms 1000ms linear infinite;
}

@-webkit-keyframes sting5 {
    0% {
        transform: rotateX(-75deg) rotateY(331deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-75deg) rotateY(331deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-75deg) rotateY(331deg) translateY(5px);
    }
    100% {
        transform: rotateX(-75deg) rotateY(331deg) translateY(5px);
    }
}

@keyframes sting5 {
    0% {
        transform: rotateX(-75deg) rotateY(331deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-75deg) rotateY(331deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-75deg) rotateY(331deg) translateY(5px);
    }
    100% {
        transform: rotateX(-75deg) rotateY(331deg) translateY(5px);
    }
}

#table .cakes .cake:nth-child(5) .cake_1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #b9f779;
    transform-style: preserve-3d;
    transform: translateZ(5px);
}

#table .cakes .cake:nth-child(5) .cake_1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #9bd95b;
    transform: translateZ(-5px);
}

#table .cakes .cake:nth-child(5) .cake_1 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: #afed6f;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(5) .cake_1 .wall_2 {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: #a5e365;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(5) .cake_1 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: #afed6f;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(5) .cake_1 .wall_4 {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: #a5e365;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(5) .cake_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #ad997d;
    transform-style: preserve-3d;
    transform: translateZ(19px);
}

#table .cakes .cake:nth-child(5) .cake_2::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #8f7b5f;
    transform: translateZ(-19px);
}

#table .cakes .cake:nth-child(5) .cake_2 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 19px;
    background: #a38f73;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(5) .cake_2 .wall_2 {
    content: "";
    position: absolute;
    width: 19px;
    height: 100%;
    background: #998569;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(5) .cake_2 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 19px;
    background: #a38f73;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(5) .cake_2 .wall_4 {
    content: "";
    position: absolute;
    width: 19px;
    height: 100%;
    background: #998569;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(5) .cake_3 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #91c9b8;
    transform-style: preserve-3d;
    transform: translateZ(31px);
}

#table .cakes .cake:nth-child(5) .cake_3::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #73ab9a;
    transform: translateZ(-31px);
}

#table .cakes .cake:nth-child(5) .cake_3 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 31px;
    background: #87bfae;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(5) .cake_3 .wall_2 {
    content: "";
    position: absolute;
    width: 31px;
    height: 100%;
    background: #7db5a4;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(5) .cake_3 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 31px;
    background: #87bfae;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(5) .cake_3 .wall_4 {
    content: "";
    position: absolute;
    width: 31px;
    height: 100%;
    background: #7db5a4;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake {
    transform-style: preserve-3d;
    transform: translateX(0px) translateZ(1000px);
}

#table .cakes .cake .cake_tower {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateZ(45deg);
    width: 50px;
    height: 50px;
}

#table .cakes .cake .fork {
    position: absolute;
    top: -25px;
    left: 23px;
    width: 4px;
    height: 50px;
    background: #fff;
    border-radius: 10px 10px 100% 100%;
    transform-origin: 50% 100%;
    transform: rotateX(-90deg) translateX(-2px) translateY(-1000px);
}

#table .cakes .cake .fork::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -6px;
    width: 16px;
    height: 20px;
    border-top: 6px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    box-sizing: border-box;
    border-radius: 50% 50% 30% 30%;
}

#table .cakes .cake:nth-child(6) {
    -webkit-animation: cakeSlide 10000ms 2000ms linear infinite;
    animation: cakeSlide 10000ms 2000ms linear infinite;
}

#table .cakes .cake:nth-child(6) .fork {
    -webkit-animation: sting6 10000ms 2000ms linear infinite;
    animation: sting6 10000ms 2000ms linear infinite;
}

@-webkit-keyframes sting6 {
    0% {
        transform: rotateX(-101deg) rotateY(360deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-101deg) rotateY(360deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-101deg) rotateY(360deg) translateY(5px);
    }
    100% {
        transform: rotateX(-101deg) rotateY(360deg) translateY(5px);
    }
}

@keyframes sting6 {
    0% {
        transform: rotateX(-101deg) rotateY(360deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-101deg) rotateY(360deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-101deg) rotateY(360deg) translateY(5px);
    }
    100% {
        transform: rotateX(-101deg) rotateY(360deg) translateY(5px);
    }
}

#table .cakes .cake:nth-child(6) .cake_1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #a076e9;
    transform-style: preserve-3d;
    transform: translateZ(5px);
}

#table .cakes .cake:nth-child(6) .cake_1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #8258cb;
    transform: translateZ(-5px);
}

#table .cakes .cake:nth-child(6) .cake_1 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: #966cdf;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(6) .cake_1 .wall_2 {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: #8c62d5;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(6) .cake_1 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: #966cdf;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(6) .cake_1 .wall_4 {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: #8c62d5;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(6) .cake_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #b3767f;
    transform-style: preserve-3d;
    transform: translateZ(13px);
}

#table .cakes .cake:nth-child(6) .cake_2::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #955861;
    transform: translateZ(-13px);
}

#table .cakes .cake:nth-child(6) .cake_2 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 13px;
    background: #a96c75;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(6) .cake_2 .wall_2 {
    content: "";
    position: absolute;
    width: 13px;
    height: 100%;
    background: #9f626b;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(6) .cake_2 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 13px;
    background: #a96c75;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(6) .cake_2 .wall_4 {
    content: "";
    position: absolute;
    width: 13px;
    height: 100%;
    background: #9f626b;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(6) .cake_3 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #b1dbde;
    transform-style: preserve-3d;
    transform: translateZ(15px);
}

#table .cakes .cake:nth-child(6) .cake_3::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #93bdc0;
    transform: translateZ(-15px);
}

#table .cakes .cake:nth-child(6) .cake_3 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 15px;
    background: #a7d1d4;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(6) .cake_3 .wall_2 {
    content: "";
    position: absolute;
    width: 15px;
    height: 100%;
    background: #9dc7ca;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(6) .cake_3 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 15px;
    background: #a7d1d4;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(6) .cake_3 .wall_4 {
    content: "";
    position: absolute;
    width: 15px;
    height: 100%;
    background: #9dc7ca;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake {
    transform-style: preserve-3d;
    transform: translateX(0px) translateZ(1000px);
}

#table .cakes .cake .cake_tower {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateZ(45deg);
    width: 50px;
    height: 50px;
}

#table .cakes .cake .fork {
    position: absolute;
    top: -25px;
    left: 23px;
    width: 4px;
    height: 50px;
    background: #fff;
    border-radius: 10px 10px 100% 100%;
    transform-origin: 50% 100%;
    transform: rotateX(-90deg) translateX(-2px) translateY(-1000px);
}

#table .cakes .cake .fork::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -6px;
    width: 16px;
    height: 20px;
    border-top: 6px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    box-sizing: border-box;
    border-radius: 50% 50% 30% 30%;
}

#table .cakes .cake:nth-child(7) {
    -webkit-animation: cakeSlide 10000ms 3000ms linear infinite;
    animation: cakeSlide 10000ms 3000ms linear infinite;
}

#table .cakes .cake:nth-child(7) .fork {
    -webkit-animation: sting7 10000ms 3000ms linear infinite;
    animation: sting7 10000ms 3000ms linear infinite;
}

@-webkit-keyframes sting7 {
    0% {
        transform: rotateX(-80deg) rotateY(336deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-80deg) rotateY(336deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-80deg) rotateY(336deg) translateY(5px);
    }
    100% {
        transform: rotateX(-80deg) rotateY(336deg) translateY(5px);
    }
}

@keyframes sting7 {
    0% {
        transform: rotateX(-80deg) rotateY(336deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-80deg) rotateY(336deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-80deg) rotateY(336deg) translateY(5px);
    }
    100% {
        transform: rotateX(-80deg) rotateY(336deg) translateY(5px);
    }
}

#table .cakes .cake:nth-child(7) .cake_1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #8faa98;
    transform-style: preserve-3d;
    transform: translateZ(9px);
}

#table .cakes .cake:nth-child(7) .cake_1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #718c7a;
    transform: translateZ(-9px);
}

#table .cakes .cake:nth-child(7) .cake_1 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 9px;
    background: #85a08e;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(7) .cake_1 .wall_2 {
    content: "";
    position: absolute;
    width: 9px;
    height: 100%;
    background: #7b9684;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(7) .cake_1 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 9px;
    background: #85a08e;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(7) .cake_1 .wall_4 {
    content: "";
    position: absolute;
    width: 9px;
    height: 100%;
    background: #7b9684;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(7) .cake_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #a98bfa;
    transform-style: preserve-3d;
    transform: translateZ(4px);
}

#table .cakes .cake:nth-child(7) .cake_2::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #8b6ddc;
    transform: translateZ(-4px);
}

#table .cakes .cake:nth-child(7) .cake_2 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #9f81f0;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(7) .cake_2 .wall_2 {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background: #9577e6;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(7) .cake_2 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #9f81f0;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(7) .cake_2 .wall_4 {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background: #9577e6;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(7) .cake_3 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #cb74bd;
    transform-style: preserve-3d;
    transform: translateZ(19px);
}

#table .cakes .cake:nth-child(7) .cake_3::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #ad569f;
    transform: translateZ(-19px);
}

#table .cakes .cake:nth-child(7) .cake_3 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 19px;
    background: #c16ab3;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(7) .cake_3 .wall_2 {
    content: "";
    position: absolute;
    width: 19px;
    height: 100%;
    background: #b760a9;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(7) .cake_3 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 19px;
    background: #c16ab3;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(7) .cake_3 .wall_4 {
    content: "";
    position: absolute;
    width: 19px;
    height: 100%;
    background: #b760a9;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake {
    transform-style: preserve-3d;
    transform: translateX(0px) translateZ(1000px);
}

#table .cakes .cake .cake_tower {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateZ(45deg);
    width: 50px;
    height: 50px;
}

#table .cakes .cake .fork {
    position: absolute;
    top: -25px;
    left: 23px;
    width: 4px;
    height: 50px;
    background: #fff;
    border-radius: 10px 10px 100% 100%;
    transform-origin: 50% 100%;
    transform: rotateX(-90deg) translateX(-2px) translateY(-1000px);
}

#table .cakes .cake .fork::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -6px;
    width: 16px;
    height: 20px;
    border-top: 6px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    box-sizing: border-box;
    border-radius: 50% 50% 30% 30%;
}

#table .cakes .cake:nth-child(8) {
    -webkit-animation: cakeSlide 10000ms 4000ms linear infinite;
    animation: cakeSlide 10000ms 4000ms linear infinite;
}

#table .cakes .cake:nth-child(8) .fork {
    -webkit-animation: sting8 10000ms 4000ms linear infinite;
    animation: sting8 10000ms 4000ms linear infinite;
}

@-webkit-keyframes sting8 {
    0% {
        transform: rotateX(-81deg) rotateY(288deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-81deg) rotateY(288deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-81deg) rotateY(288deg) translateY(5px);
    }
    100% {
        transform: rotateX(-81deg) rotateY(288deg) translateY(5px);
    }
}

@keyframes sting8 {
    0% {
        transform: rotateX(-81deg) rotateY(288deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-81deg) rotateY(288deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-81deg) rotateY(288deg) translateY(5px);
    }
    100% {
        transform: rotateX(-81deg) rotateY(288deg) translateY(5px);
    }
}

#table .cakes .cake:nth-child(8) .cake_1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #93f27c;
    transform-style: preserve-3d;
    transform: translateZ(28px);
}

#table .cakes .cake:nth-child(8) .cake_1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #75d45e;
    transform: translateZ(-28px);
}

#table .cakes .cake:nth-child(8) .cake_1 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 28px;
    background: #89e872;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(8) .cake_1 .wall_2 {
    content: "";
    position: absolute;
    width: 28px;
    height: 100%;
    background: #7fde68;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(8) .cake_1 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 28px;
    background: #89e872;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(8) .cake_1 .wall_4 {
    content: "";
    position: absolute;
    width: 28px;
    height: 100%;
    background: #7fde68;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(8) .cake_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #d2bda5;
    transform-style: preserve-3d;
    transform: translateZ(20px);
}

#table .cakes .cake:nth-child(8) .cake_2::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #b49f87;
    transform: translateZ(-20px);
}

#table .cakes .cake:nth-child(8) .cake_2 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background: #c8b39b;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(8) .cake_2 .wall_2 {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    background: #bea991;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(8) .cake_2 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background: #c8b39b;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(8) .cake_2 .wall_4 {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    background: #bea991;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(8) .cake_3 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #6797f9;
    transform-style: preserve-3d;
    transform: translateZ(24px);
}

#table .cakes .cake:nth-child(8) .cake_3::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #4979db;
    transform: translateZ(-24px);
}

#table .cakes .cake:nth-child(8) .cake_3 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 24px;
    background: #5d8def;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(8) .cake_3 .wall_2 {
    content: "";
    position: absolute;
    width: 24px;
    height: 100%;
    background: #5383e5;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(8) .cake_3 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 24px;
    background: #5d8def;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(8) .cake_3 .wall_4 {
    content: "";
    position: absolute;
    width: 24px;
    height: 100%;
    background: #5383e5;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake {
    transform-style: preserve-3d;
    transform: translateX(0px) translateZ(1000px);
}

#table .cakes .cake .cake_tower {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateZ(45deg);
    width: 50px;
    height: 50px;
}

#table .cakes .cake .fork {
    position: absolute;
    top: -25px;
    left: 23px;
    width: 4px;
    height: 50px;
    background: #fff;
    border-radius: 10px 10px 100% 100%;
    transform-origin: 50% 100%;
    transform: rotateX(-90deg) translateX(-2px) translateY(-1000px);
}

#table .cakes .cake .fork::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -6px;
    width: 16px;
    height: 20px;
    border-top: 6px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    box-sizing: border-box;
    border-radius: 50% 50% 30% 30%;
}

#table .cakes .cake:nth-child(9) {
    -webkit-animation: cakeSlide 10000ms 5000ms linear infinite;
    animation: cakeSlide 10000ms 5000ms linear infinite;
}

#table .cakes .cake:nth-child(9) .fork {
    -webkit-animation: sting9 10000ms 5000ms linear infinite;
    animation: sting9 10000ms 5000ms linear infinite;
}

@-webkit-keyframes sting9 {
    0% {
        transform: rotateX(-109deg) rotateY(295deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-109deg) rotateY(295deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-109deg) rotateY(295deg) translateY(5px);
    }
    100% {
        transform: rotateX(-109deg) rotateY(295deg) translateY(5px);
    }
}

@keyframes sting9 {
    0% {
        transform: rotateX(-109deg) rotateY(295deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-109deg) rotateY(295deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-109deg) rotateY(295deg) translateY(5px);
    }
    100% {
        transform: rotateX(-109deg) rotateY(295deg) translateY(5px);
    }
}

#table .cakes .cake:nth-child(9) .cake_1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #6ad2c0;
    transform-style: preserve-3d;
    transform: translateZ(19px);
}

#table .cakes .cake:nth-child(9) .cake_1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #4cb4a2;
    transform: translateZ(-19px);
}

#table .cakes .cake:nth-child(9) .cake_1 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 19px;
    background: #60c8b6;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(9) .cake_1 .wall_2 {
    content: "";
    position: absolute;
    width: 19px;
    height: 100%;
    background: #56beac;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(9) .cake_1 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 19px;
    background: #60c8b6;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(9) .cake_1 .wall_4 {
    content: "";
    position: absolute;
    width: 19px;
    height: 100%;
    background: #56beac;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(9) .cake_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #9869b1;
    transform-style: preserve-3d;
    transform: translateZ(14px);
}

#table .cakes .cake:nth-child(9) .cake_2::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #7a4b93;
    transform: translateZ(-14px);
}

#table .cakes .cake:nth-child(9) .cake_2 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 14px;
    background: #8e5fa7;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(9) .cake_2 .wall_2 {
    content: "";
    position: absolute;
    width: 14px;
    height: 100%;
    background: #84559d;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(9) .cake_2 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 14px;
    background: #8e5fa7;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(9) .cake_2 .wall_4 {
    content: "";
    position: absolute;
    width: 14px;
    height: 100%;
    background: #84559d;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(9) .cake_3 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #6982df;
    transform-style: preserve-3d;
    transform: translateZ(16px);
}

#table .cakes .cake:nth-child(9) .cake_3::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #4b64c1;
    transform: translateZ(-16px);
}

#table .cakes .cake:nth-child(9) .cake_3 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 16px;
    background: #5f78d5;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(9) .cake_3 .wall_2 {
    content: "";
    position: absolute;
    width: 16px;
    height: 100%;
    background: #556ecb;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(9) .cake_3 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 16px;
    background: #5f78d5;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(9) .cake_3 .wall_4 {
    content: "";
    position: absolute;
    width: 16px;
    height: 100%;
    background: #556ecb;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake {
    transform-style: preserve-3d;
    transform: translateX(0px) translateZ(1000px);
}

#table .cakes .cake .cake_tower {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateZ(45deg);
    width: 50px;
    height: 50px;
}

#table .cakes .cake .fork {
    position: absolute;
    top: -25px;
    left: 23px;
    width: 4px;
    height: 50px;
    background: #fff;
    border-radius: 10px 10px 100% 100%;
    transform-origin: 50% 100%;
    transform: rotateX(-90deg) translateX(-2px) translateY(-1000px);
}

#table .cakes .cake .fork::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -6px;
    width: 16px;
    height: 20px;
    border-top: 6px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    box-sizing: border-box;
    border-radius: 50% 50% 30% 30%;
}

#table .cakes .cake:nth-child(10) {
    -webkit-animation: cakeSlide 10000ms 6000ms linear infinite;
    animation: cakeSlide 10000ms 6000ms linear infinite;
}

#table .cakes .cake:nth-child(10) .fork {
    -webkit-animation: sting10 10000ms 6000ms linear infinite;
    animation: sting10 10000ms 6000ms linear infinite;
}

@-webkit-keyframes sting10 {
    0% {
        transform: rotateX(-64deg) rotateY(326deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-64deg) rotateY(326deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-64deg) rotateY(326deg) translateY(5px);
    }
    100% {
        transform: rotateX(-64deg) rotateY(326deg) translateY(5px);
    }
}

@keyframes sting10 {
    0% {
        transform: rotateX(-64deg) rotateY(326deg) translateY(-1000px);
    }
    40% {
        transform: rotateX(-64deg) rotateY(326deg) translateY(-1000px);
    }
    55% {
        transform: rotateX(-64deg) rotateY(326deg) translateY(5px);
    }
    100% {
        transform: rotateX(-64deg) rotateY(326deg) translateY(5px);
    }
}

#table .cakes .cake:nth-child(10) .cake_1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #70b5a6;
    transform-style: preserve-3d;
    transform: translateZ(27px);
}

#table .cakes .cake:nth-child(10) .cake_1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #529788;
    transform: translateZ(-27px);
}

#table .cakes .cake:nth-child(10) .cake_1 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 27px;
    background: #66ab9c;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(10) .cake_1 .wall_2 {
    content: "";
    position: absolute;
    width: 27px;
    height: 100%;
    background: #5ca192;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(10) .cake_1 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 27px;
    background: #66ab9c;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(10) .cake_1 .wall_4 {
    content: "";
    position: absolute;
    width: 27px;
    height: 100%;
    background: #5ca192;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(10) .cake_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #c296ac;
    transform-style: preserve-3d;
    transform: translateZ(8px);
}

#table .cakes .cake:nth-child(10) .cake_2::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #a4788e;
    transform: translateZ(-8px);
}

#table .cakes .cake:nth-child(10) .cake_2 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background: #b88ca2;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(10) .cake_2 .wall_2 {
    content: "";
    position: absolute;
    width: 8px;
    height: 100%;
    background: #ae8298;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(10) .cake_2 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background: #b88ca2;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(10) .cake_2 .wall_4 {
    content: "";
    position: absolute;
    width: 8px;
    height: 100%;
    background: #ae8298;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

#table .cakes .cake:nth-child(10) .cake_3 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #f4de8d;
    transform-style: preserve-3d;
    transform: translateZ(30px);
}

#table .cakes .cake:nth-child(10) .cake_3::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #d6c06f;
    transform: translateZ(-30px);
}

#table .cakes .cake:nth-child(10) .cake_3 .wall_1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    background: #ead483;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(100%) rotateX(-90deg);
}

#table .cakes .cake:nth-child(10) .cake_3 .wall_2 {
    content: "";
    position: absolute;
    width: 30px;
    height: 100%;
    background: #e0ca79;
    right: 0;
    transform-origin: 0 0;
    transform: translateX(100%) rotateY(90deg);
}

#table .cakes .cake:nth-child(10) .cake_3 .wall_3 {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    background: #ead483;
    top: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotateX(90deg);
}

#table .cakes .cake:nth-child(10) .cake_3 .wall_4 {
    content: "";
    position: absolute;
    width: 30px;
    height: 100%;
    background: #e0ca79;
    left: 0;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotateY(-90deg);
}

@-webkit-keyframes dishSlide {
    0% {
        transform: translateX(1500px);
    }
    100% {
        transform: translateX(-1500px);
    }
}

@keyframes dishSlide {
    0% {
        transform: translateX(1500px);
    }
    100% {
        transform: translateX(-1500px);
    }
}

@-webkit-keyframes cakeSlide {
    0% {
        transform: translateX(0px) translateZ(1000px);
    }
    50% {
        transform: translateX(0px) translateZ(0px);
    }
    100% {
        transform: translateX(-1500px) translateZ(0px);
    }
}

@keyframes cakeSlide {
    0% {
        transform: translateX(0px) translateZ(1000px);
    }
    50% {
        transform: translateX(0px) translateZ(0px);
    }
    100% {
        transform: translateX(-1500px) translateZ(0px);
    }
}

@-webkit-keyframes cameraHorizontal {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes cameraHorizontal {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes cameraVertical {
    0% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(80deg);
    }
}

@keyframes cameraVertical {
    0% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(80deg);
    }
}