{% extends 'layout.html' %}



{% block title %} Checkout {% endblock %}




{% block links %} 
<li class="nav-item ">
  <a class="nav-link " href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
  </li>

  <li class="nav-item">
  <a class="nav-link" href="{% url 'home:products' %}">Products</a>
  </li>
  {% comment %} <li class="nav-item">
  <a class="nav-link" href="/shop/customize">customize</a>
  </li>
{% endcomment %}
  <li class="nav-item">
  <a class="nav-link" href="{% url 'home:contactUs' %}">Contact Us</a>
  </li>
  
{% endblock %}

{% block links1 %} 
<li class="nav-item ">
  <a class="nav-link " href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
  </li>

  <li class="nav-item">
  <a class="nav-link" href="{% url 'home:products' %}">Products</a>
  </li>
  {% comment %} <li class="nav-item">
  <a class="nav-link" href="/shop/customize">customize</a>
  </li>
{% endcomment %}
  <li class="nav-item">
  <a class="nav-link" href="{% url 'home:contactUs' %}">Contact Us</a>
  </li>
  
{% endblock %}


{% block main %} 

    <div class="container-main">
        <h2 class="title-sell">Checkout</h2>

    
    </div>

  



    
 <div class="container-main mb-4 " id="allpage">

 
    <div id="success" class="hidden">
        <div class="text-center">
            <img src="/assets/place_order.png" />
            <h3>Order Placed</h3>
            <p>
                Your order has been placed successfully
            </p>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-md-3">
                
                <h5>Date</h5>
            </div> 
            <div class="col-md-3">
                <h5>Order ID</h5>
            </div> 
        </div>

        <div class="row justify-content-center text-center">
            <div class="col-md-3 text-muted" id="order_date">
            </div> 
            <div class="col-md-3 text-muted" id="order_id">
            </div> 
        </div>
        <br>
        <div class="row justify-content-center text-center">
            <div class="col-md-3">
                
                <h5>Shipping To</h5>
            </div> 
            <div class="col-md-3">
                <h5>Payment Method</h5>
            </div> 
        </div>

        <div class="row justify-content-center text-center">
            <div class="col-md-3 text-muted" id="order_address">
            </div> 
            <div class="col-md-3 text-muted">
            Cash on Delivery
            </div> 
        </div>

        <div class="text-center my-2">
            <p>Your order is expected to be delivered within 2-3  days.</p>       
        </div>


        <div class="row justify-content-center my-4 mb-4">
            <div class="col-md-6 text-center">
                <a class="btn btn-login  w-50" href="/">Done</a>
            </div> 
           
        </div>

        </div><!-- end success div -->


        <input type="hidden" value="{{user.is_authenticated}}" id="isAuth">
    <div id="delivery_address">


        {% if not user.is_authenticated %}
            <div class="alert alert-secondary " style="padding: 20px">
                Returning customer? Click <a href="{% url 'users:login' %}" class="text-green">here</a> to login
            </div>

        {% endif %}



        <div class="row p-4">

            {% if not user.is_authenticated %} <!-- if user is not logged in -->
            <div class="col-md-8">
                <h2 class="header-ch mb-4 ">Delivery Address Information</h2>


                <div class="alert alert-danger p-2 hidden" id="error" >
                    
                </div>

                
                <form method="POST" action="/cart/checkout/" id="new_address_temp"> 
                    {% csrf_token %} 

                    <div class=" row">
                        <label for="firstname" class="col-12 col-form-label"> Name *</label>
                        <div class=" col-md-6 col-12">
                            <input type="text" class=" form-control" placeholder="Firstname" required id="firstname" name="firstname">
                        </div>
                        <div class="mt-md-0 mt-2  col-md-6 col-12">
                            <input type="text" class=" form-control" placeholder="Lastname" required id="lastname" name="lastname">
                        </div>
                    </div>



                    <div class=" row">
                        <label for="mobile" class="col-md-6 col-form-label ">Phone *</label>
                        <label for="region" class="col-md-6 col-form-label d-md-block d-none">Region *</label>
                    </div>
                    <div class=" row">
                        <div class="col-md-6 col-12">
                            <input type="tel" class=" form-control" placeholder="Phone" required id="phone" name="phone">
                        </div>
                        <label for="mobile" class="col-md-6 col-form-label d-block d-md-none">Region *</label>
                        <div class="col-md-6 col-12">
                            <select class="form-control" id="region" name="region" required>
                                <option value="" selected>Select Region</option>
                                {% for reg in  regions%}
                                    <option value="{{reg.id}}">{{reg.name}}</option>
                                {% endfor %}
                              </select>
                        </div>
                    </div>




                    <div class=" row">
                        <label for="mobile" class="col-md-6 col-form-label ">Email *</label>
                        <label for="region" class="col-md-6 col-form-label d-md-block d-none">Address *</label>
                    </div>
                    <div class=" row">
                     
                        <div class="col-md-6 col-12">
                            <input type="email" class=" form-control" placeholder="Email" required id="email" name="email">
                        </div>

                        <label for="mobile" class="col-md-6 col-form-label d-block d-md-none">Address *</label>

                        <div class="col-md-6 col-12">
                            <input name="address" id="address"  class="form-control" placeholder="Address" type="text">

                        </div>
                    </div>




                    <div class="row">
                        <label for="note" class="col-12 col-form-label">Note</label>
                        <div class="col-12">
                        <textarea name="note" id="note" style="width: 100%" rows="5" class="form-control" placeholder="Note"></textarea>
                        </div>
                    </div>
             
            </div>
            {% else %}<!-- if user is  logged in -->
            <div class="col-md-8">
                <h2 class="header-ch mb-4 ">Delivery Address Information</h2>
                <div class="alert alert-danger p-2 hidden" id="error" >
                    
                </div>


                {% if address|length > 0 %}
                    <h5 class="text-green"> 
                        <input type="radio" value="saved" name="delivery"  class="mx-2" id="saved" checked /> 
                       <label for="saved" class="pointer-cursor"> Choose From Saved Address</label> 
                    </h5>

                    <div class="row p-md-4 p-2 " >
                        <div class="col-md-1 col-0 "></div>
                        {% for adr in address %}
                    
                            <div class="col-md-5 col-8 text-center">
                                <input type="radio" value="{{adr.pk}}" name="selected_address" id="{{adr.pk}}"  class="mx-2" /> 
                                <label for="{{adr.pk}}" class="pointer-cursor ">{{adr.region}} {{adr.address}}</label>
                            </div>
                
                        {% endfor %}
                    </div>

                    <h5 class="mt-md-0 mt-4 text-green" > 
                        <input type="radio" class="mx-2" value="new_address" name="delivery" id="new_address" />
                        
                        <label for="new_address" class="pointer-cursor"> Add New Address</label> 
                        
                    </h5>
                
                {% else %}
                    <h5 class="mt-md-0 mt-4 text-green" > 
                        
                        <label for="new_address" class="pointer-cursor"> Add New Address</label> 
                        
                    </h5>
                    <input type="hidden" value="no_selection" id="no_selection">
                {% endif %}
                
          
            
                <div class=" row justify-content-center">

                    <label for="phone2" class="col-md-6 col-form-label ">Phone *</label>


                    <label for="region2" class="col-md-6 col-form-label d-md-block d-none">Region *</label>

                </div>
                <div class=" row">
                    <div class="col-md-6 col-12">
                        <input type="tel" class=" form-control" placeholder="Phone" required id="phone2" name="phone2">
                    </div>

                    <label for="region2" class="col-md-6 col-form-label d-block d-md-none">Region *</label>

                    <div class="col-md-6 col-12">
                        <select class="form-control" id="region2" name="region2" required>
                            <option value="" selected>Select Region</option>

                            {% for reg in  regions%}
                                <option value="{{reg.id}}">{{reg.name}}</option>
                     
                            {% endfor %}
                          </select>
                    </div>
                </div>
                <div class="row">
                    <label for="address2" class="col-12 col-form-label">Address *</label>
                    <div class="col-md-12 col-12">
                        <input type="text" class=" form-control" placeholder="Address" required id="address2" name="address2">
                    </div>
                </div> 

                <div class="row">
                    <label for="note2" class="col-12 col-form-label">Note</label>
                    <div class="col-12">
                    <textarea name="note2" id="note2" style="width: 100%" rows="5" class="form-control" placeholder="Note"></textarea>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="col-md-4 ">
                <h2 class="header-ch mb-5 mt-4  mt-md-0">Order Summary</h2>

                

                {% for prod in cart %}
                    <div class="row row2 text-center form-group" >
                        <div class="col-3">
                            <img src="{{prod.image}}" class="img-fluid rounded-circle prd-img" >
                        </div>
                        <div class="col-3">
                            {{prod.name}}
                        </div>
                        <div class="col-3">
                            {{prod.price}} x {{prod.qty}} 
                        </div>
                        <div class="col-3 text-right">
                          {{prod.total_price}} {{settings.currency}}
                        </div>  
                    </div>
                    {% endfor %}


                    <div class="  row p-2">
                        <div class="col-6 ">
                           Sub-Total 
                        </div>
                        <div class="col-6 text-right">
                            {{total_price}} {{settings.currency}}
                         </div>
                    </div>

                    <div class="  row p-2">
                        <div class="col-6 ">
                            Delivery  
                        </div>
                        <div class="col-6 text-right">
                            {{settings.delivery}} {{settings.currency}} 
                         </div>
                    </div>
                    <hr>
                    <div class="  row p-2">
                        <div class="col-6 text-green">
                            Total  
                        </div>
                        <div class="col-6 text-right text-green">
                            {{grand_total}} {{settings.currency}}
                         </div>
                    </div>

                    <div class="  row p-2 ">
                        <div class="col-12">

                   
                                <button type="button" class="btn btn-block btn-cart" style="padding:10px" id="btnPlace">
                                    Place Your Order
                                </button>

                        </div>
                    </div>
              </div>
            </form>
        </div>

    

          


    </div>

</div>

<script>

  
    $(document).ready(function() {

 

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally
                    xhr.setRequestHeader("X-CSRFToken", $('input[name="csrfmiddlewaretoken"]').val());
                }
            }
        });
        
        function isValidEmail(email) {
            const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            return emailRegex.test(email);
          }

          
        function validate(firstname,lastname,phone,region,address,email){
            if (firstname === "" || !/[a-zA-Z]/.test(firstname)) {
                return "Firstname field is required."
            
              }
          
              if (lastname === "" || !/[a-zA-Z]/.test(lastname)) {
                return "Lastname field is required."
                 
              }
          
              if (phone === "" || !/^\d{8}$/.test(phone)) {
                return "Please enter a valid 8-digit phone number."
                 
              }
          
              if (isNaN(region) || region === "") {
                return "Region field is required."
                 
              }
              if (!isValidEmail(email)) {
                return "Please enter a valid email."
              }
              if (address === "") {
                return "Address field is required."
              }
              return ""
        }
        function validate2(phone,region,address){
              if (phone === "" || !/^\d{8}$/.test(phone)) {
                return "Please enter a valid 8-digit phone number."
                 
              }
          
              if (isNaN(region) || region === "") {
                return "Region field is required."
                 
              }
          
              if (address === "") {
                return "Address field is required."
              }
              return ""
        }

        $('#btnPlace').click(function(e) {

            const isAuth= $("#isAuth").val();

            const new_address=false
            e.preventDefault();

            if(isAuth=="False"){ // user not authenticated
                var firstname = $("#firstname").val();
                var lastname = $("#lastname").val();
                var phone = $("#phone").val();
                var region = $("#region").val();
                var address = $("#address").val();
                var email = $("#email").val();
                var note = $("#note").val();
                var errors=validate(firstname,lastname,phone,region,address,email)
                if(errors === ""){
                    $('#btnPlace').html("Processing <i class='fa fa-spinner fa-spin'></i>")
                    $('#btnPlace').prop('disabled', true);

                    $.ajax({
                        type: 'POST',
                        url: '/cart/checkout/',
                        data: {
                            'firstname':firstname,
                            'lastname':lastname,
                            'phone' :phone,
                            'region':region,
                            'address':address,
                            'email':email,
                            'note' :note,
                        },
                        success: function(data) {
                            if(data.success=="success"){
                                $('#success').removeClass('hidden')
                                $('#delivery_address').addClass('hidden')
    
                                $('#order_date').text(data.date)
                                $('#order_id').text('#'+data.order_id)
                                $('#order_address').text(data.address)


                                $('#btnPlace').html("Place Your Order")
                                $('#btnPlace').prop('disabled', false);
                    
                                
                            }

                    
                        }
                    });
                }else{

                    $("html, body").animate({
                        scrollTop: $("#error").offset().top
                      }, 1000); 

                    $('#error').removeClass('hidden')
                    $('#error').text(errors)
                }
            }else{ // user is authenticated
                var selected_type = $("input[name='delivery']:checked").val();
                if(selected_type=="saved"){
                    var selected_address = $("input[name='selected_address']:checked").val();
                    if(selected_address){
                        $('#btnPlace').html("Processing <i class='fa fa-spinner fa-spin'></i>")
                        $('#btnPlace').prop('disabled', true);
    
                        $.ajax({
                            type: 'POST',
                            url: '/cart/checkout/',
                            data: {
                                'selected_address':selected_address,
                                'type':'choose'
                            },
                            success: function(data) {
                                if(data.success=="success"){
                                    $('#success').removeClass('hidden')
                                    $('#delivery_address').addClass('hidden')
        
                                    $('#order_date').text(data.date)
                                    $('#order_id').text('#'+data.order_id)
                                    $('#order_address').text(data.address)


                                    $('#btnPlace').html("Place Your Order")
                                    $('#btnPlace').prop('disabled', false);

                                }
    
                        
                            }
                        });

                    }else{

                    $("html, body").animate({
                        scrollTop: $("#error").offset().top
                      }, 1000); 

                        $('#error').removeClass('hidden')
                        $('#error').text("Please choose from the saved addresses.")
                    }
                    //alert(selected_address)
                }else if(selected_type=="new_address" || $('#no_selection').val()=="no_selection"){

                    var phone = $("#phone2").val();
                    var region = $("#region2").val();
                    var address = $("#address2").val();
                    var note = $("#note2").val();
                    var errors=validate2(phone,region,address)
                    if(errors===""){
                        
                        $('#btnPlace').html("Processing <i class='fa fa-spinner fa-spin'></i>")
                        $('#btnPlace').prop('disabled', true);

                        
                        $.ajax({
                            type: 'POST',
                            url: '/cart/checkout/',
                            data: {
                                'phone' :phone,
                                'region':region,
                                'address':address,
                                'note' :note,
                            },
                            success: function(data) {
                                if(data.success=="success"){
                                    $('#success').removeClass('hidden')
                                    $('#delivery_address').addClass('hidden')
        
                                    $('#order_date').text(data.date)
                                    $('#order_id').text('#'+data.order_id)
                                    $('#order_address').text(data.address)



                                    $('#btnPlace').html("Place Your Order")
                                    $('#btnPlace').prop('disabled', false);
                                }
    
                        
                            }
                        });
                    }else{
                        
                    $("html, body").animate({
                        scrollTop: $("#error").offset().top
                      }, 1000); 
                        $('#error').removeClass('hidden')
                        $('#error').text(errors)
                    }
                }else{

                    $("html, body").animate({
                        scrollTop: $("#error").offset().top
                      }, 1000); 
                    $('#error').removeClass('hidden')
                    $('#error').text("Please fill the address information")
                }
            }

           
        });
    });

</script>
{% endblock %}